<div class="main-panel scrollable-container container-fluid">
	<div class="top-bar">
		<div class="section-content u-padding-Hl">
			<div class="row header">
				<div class="col-sm-12 text-center u-margin-Txs">
					<h4 class="u-margin-An inline v-top">New DataSource</h4>

				</div>
			</div>
		</div>
	</div>
	<div class="main-panel__content u-padding-Hl">
		<div class="row">
			<div class="col-sm-12">
				<form class="new-app-view edit-first">
					<div class="list-group list-group-lg">
						<li class="list-group-item">
							<div class="row">
								<div class="col-sm-3 u-padding-Tm">
									<div class="panel-title">
										Datasource Type
									</div>
									<div class="panel-details u-margin-Txs">
										<span class="text-subtle text-p4">Ex:aws_dynamo.</span>
									</div>
								</div>
								<div class="col-sm-9 u-padding-Tm">
									<div class="col-sm-6 col-sm-offset-1">
										<div class="form-group">
											<input id="input-type" class="ember-text-field form-control" autocomplete="off" type="text">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3 u-padding-Tm">
									<div class="panel-title">
										DataSource Region
									</div>
									<div class="panel-details u-margin-Txs">
										<span class="text-subtle text-p4">Ex:us-east-1</span>
									</div>
								</div>
								<div class="col-sm-9 u-padding-Tm">
									<div class="col-sm-6 col-sm-offset-1">
										<div class="form-group">
											<textarea class="form-control" id="input-region"  rows="8" placeholder="Enter Description..."></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3 u-padding-Tm">
									<div class="panel-title">
										DataSource Table_Name
									</div>
									<div class="panel-details u-margin-Txs">
										<span class="text-subtle text-p4">source_for_experiment</span>
									</div>
								</div>
								<div class="col-sm-9 u-padding-Tm">
									<div class="col-sm-6 col-sm-offset-1">
										<div class="form-group">
											<textarea class="form-control" rows="8" id="input-tablename" placeholder="Enter Description..."></textarea>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<div class="col-sm-9 col-sm-offset-4 u-padding-Tm">
									<div class="col-sm-6 col-sm-offset-1">
										<div class="form-group">
											<button id="store-datasource" class="btn btn-default btn-lg">
												Save Experiment
											</button>
										</div>
									</div>
								</div>
							</div>
						</li>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>