
<div class="sidebar scrollable-container gradient-bg">
	<div id="sidebar" class="sidebar-wrapper">
		<div class="sidebar-container sidebar__header">
			<a class="title" href="/#/">
			<img src="/img/logo.svg">
				<h3 class="dashboard-logo-text">Analytics Dashboard</h3>
			</a>
		</div>

		<div class="sidebar-container">
			<div class="user-account u-padding-Vxs">
				<ul class="menu">
					<li>
						<a class="menu-btn" href="#">
							<div class="avatar"></div>  
							<span class="title">Desmond Duggan </span>
							<span><i id="angle-down" class="icon angle down icon"></i></span>
						</a>
						<ul class="dropit-submenu">
							<li><a href="#">Manage Account</a></li>
							<li><a href="#">Shutdown Apps</a></li>
							<li class="divider"></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>		

			</div>
		</div>

		<div class="sidebar-container scrollable-content">
			<div class="event-stream">
				<h6 >Event Stream</h6>
				<div class="well text-center empty">
					<small>App "Survival Analysis v1" has finished.</small>
				</div>
			</div>

			<div class="primary-nav">
				<h6 >Navigation</h6>
				<ul class="sidebar-nav">
					<li class="group-menu-item active">
						<a class="ember-view sidebar-nav-heading active" href="#/">
							<i class="fa fa-bars u-margin-Rm"></i>
							Experiments
						</a>
					</li>
					<li class="group-menu-item active">
						<a class="ember-view sidebar-nav-heading" href="#/data">
							<i class="fa fa-database u-margin-Rm"></i>
							Data Sources
						</a>
					</li>					
					<li class="group-menu-item active">
						<a class="ember-view sidebar-nav-heading" href="#/settings">
							<i class="fa fa-gears u-margin-Rm"></i>
							Account Settings
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>

