<div class="ui small modal">
    <i class="close icon"></i>
    <div class="header header-content">
        Add New Model
    </div>
    <div class="content">
        <div id="detail-step"  class="ui ordered small steps">
                <div id="model-info" class="active step sampleinfo">
                    <div class="content">
                        <div class="title">Basic</div>
                        <div class="description">Name and Description</div>
                    </div>
                </div>
                <div id="model-variable" class="step samplevariable">
                    <div class="content">
                        <div class="title">Variables</div>
                        <div class="description">Features and Label</div>
                    </div>
                </div>
                <div id ="approach" class="step sampleapproach">
                    <div class="content">
                        <div class="title">Approach</div>
                        <div class="description">Algorithm Config</div>
                    </div>
                </div>
            </div>
            <div id="model-content"></div>
    </div>
</div>
