<div id="addmodelsubview" class="ui attached segment">
        <form id="model-form" class="form-horizontal">

            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input type="text"  id="input-model" name="name" class="form-control" rows="2" placeholder="Give me a name..."/>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <textarea type="text"  name="description" id="input-desc" class="form-control" rows="5" placeholder="Describe the model..."></textarea>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button id="next-btn" class="add-btn sm ui green button" type="button">Next</button>
    </div>
