<div id="detail-page" class="main-panel scrollable-container container-fluid">
	<div class="top-bar">
		<div class="section-content u-padding-Hl">
			<div class="row header">
				<div class="col-sm-2 u-padding-Txxs back-btn">
					<label id="top-bar__status">
						<i class="arrow left icon"></i>
					</label>
					<figcaption><span class="text-subtle">back</span></figcaption>
				</div>
				<div class="col-sm-8 text-center u-margin-Txs">
					<h4 class="u-margin-An inline v-top">Experiment Name</h4>

				</div>
				<div class="col-sm-2 text-center u-padding-Txxs">
					
				</div>
			</div>
		</div>
	</div>
	<ul id="detail-nav" class="nav nav-tabs sub-nav app-nav u-margin-Bs" role="tablist" style="padding-top:0;">
		<!--<a data-href="summary" class="tabpanel__tab active"><i class="fa fa-tachometer"></i> Dashboard</a>-->
		<li id="model-page" class="tabpanel__tab">
			<a data-href="models" class="models">
				<i class="cubes icon" class="results"></i> Models
			</a>
		</li>
		<li id="results-page"class="tabpanel__tab">
			<a data-href="results">
				<i class="fa fa-bar-chart"></i> Results
			</a>
		</li>
		<!--<a data-href="logs" class="tabpanel__tab"><i class="fa fa-list"></i> Logs</a>-->
	</ul>
	<div class="main-panel__content u-padding-Hl u-padding-Bl">
		<div id="detail-content"></div>
	</div>
	<foooter class="app-footer">
		<div class="section-content u-padding-Ll">
			<ul class="list-inline">
				<li class="hidden-xs"><a href="/#/">test</a></li>
				<li><a href="/#/">FAQ</a></li>
				<li><a href="/#/">Privacy Policy</a></li>
				<li class="feedback-link"><a class="btn btn-default btn-xs" href="">Feedback</a></li>
			</ul>			
		</div>

	</foooter>
</div>